*{
    margin:0;
    padding:0;
}
.content{
    display: flex;
    margin: 100px 50px 50px 50px;
    font-family: sans-serif;
}
#area{
    border: none;
    font-size: 0;
    margin-left: 25%;
}
@media (max-width: 575px) { 
    .cell{
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 36px;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
    .cell{
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 36px;
    }
 }

@media (min-width: 768px) and (max-width: 991px) { 
    .cell{
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 36px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .cell{
        width: 140px;
        height: 140px;
        line-height: 140px;
        font-size: 46px;
    }
 }

@media (min-width: 1200px) { 
    .cell{
        width: 160px;
        height: 160px;
        line-height: 160px;
        font-size: 56px;
    }
}
.cell{
    text-align: center;
    display: inline-block;
    border: 1px dashed grey;
    cursor: pointer;
    vertical-align: middle;
    transition: background .2s;
}
.cell:hover{
    background-color: #e8e8e8;
}
h1{
    font-family: sans-serif;
    font-size: 1.85em !important;
    color: grey;
    font-weight: 100;
}
h2{
    font-family: sans-serif;
    font-size: 1.2em !important;
    font-weight: 100;
}
#winner{
    border: 2px dotted gray;
}